# Conversion to YAML from Properties formar report
# Warnings:
# - The yaml file had comments which are lost in the refactoring!
spring:
  application:
    name: EmployeeManagementApp
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
server:
  port: 8092
logging:
  level:
    root: INFO
    com:
      mphasis: debug
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %msg%n'
    file: '%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %msg%n'
  file:
    name: logs/empapp.log
